pip3 install virtualenv
python -m venv sudoku-venv
.\sudoku-venv\Scripts\activate
python -m pip install -r requirements.txt
ipython kernel install --name "sudoku-kernel" --user
.\sudoku-venv\Scripts\deactivate